body {
    opacity: 0.9;
    background: rgba(0, 0, 0, 0.5) url("/peñarisas.jpg") no-repeat center center fixed;
    background-size: cover;
}

#weatherIcon {
    width: 4%;
    display: inline-block;
}
#weatherInfo {
    display: inline-block;
}

/* #scoreButtons {
    display: none;
} */